<!-- register.component.html -->
<div class="container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" formControlName="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" required pattern="[^\s]+">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
  
